%h1.heading
  = "Developers"

%p.actions
  = link_to 'New Developer', new_resource_path

%table
  %thead.header
    %tr
      %th.name= 'Name'
      %th.email= 'E-mail'
      %th.actions= 'Actions'
  %tbody.items.resources
    - collection.each do |resource|
      = render 'item', :resource => resource

= will_paginate(collection)

