= semantic_form_for [@project, @task] do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :title
  .field
    = f.input :description
  .field
    = f.input :points, :as => 'select', :collection => Task::POINTS
  .field
    = f.input :category, :as => 'select', :collection => Task::CATEGORIES
  .field
    = f.input :position, :as => 'select', :collection => Board::POSITIONS, :prompt => false
  .actions
    = f.submit 'Save'

