%p
  %b Title:
  = @task.title
%p
  %b Description:
  %pre
    = @task.description
%p
  %b Points:
  = @task.points
%p
  %b Category:
  = @task.category
%p
  %b Position:
  = @task.position
%p
  %b Sponsors:
  = @task.contributors.collect(&:name).to_sentence

= link_to 'Edit', edit_project_task_path(@project, @task)
\|
= link_to 'Back', :back

