%p#notice= notice

%p
  %b Title:
  = @task.title
%p
  %b Description:
  = @task.description
%p
  %b Points:
  = @task.points
%p
  %b Category:
  = @task.category
%p
  %b Position:
  = @task.position

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path

