%p
  %b Title:
  = @task.title
%p
  %b Description:
  %pre
    = @task.description
%p
  %b Points:
  = @task.points
%p
  %b Category:
  = @task.category
%p
  %b Position:
  = @task.position
%p
  %b Sponsors:
  = @task.contributors.collect(&:name).to_sentence

- if !@task.comments.empty?
  %hr
  %b Comments:
  - @task.comments.each do |comment|
    .comment
      %b<= comment.contributor.name + ':'
      %pre
        = comment.content
      %p
        = link_to 'Edit', edit_task_comment_path(@task, comment)
        \|
        = link_to 'Destroy', task_comment_path(@task, comment),
          :confirm => 'Are you sure?',
          :method => :delete

= link_to 'Edit', edit_project_task_path(@project, @task)
\|
= link_to 'Destroy', project_task_path(@project, @task),
  :confirm => 'Are you sure?',
  :method => :delete
\|
= link_to 'Back', :back
\|
= link_to 'Add comment', new_task_comment_path(@task)

