%h1.heading
  = "#{t 'application.editing'} #{t 'project.model'} %s" % resource.id

- semantic_form_for(resource) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button t 'application.update'

%p.actions
  = link_to t('application.cancel'), collection_path

