%h1.heading
  = t('project.model').pluralize

%p.actions
  = link_to t('application.new_project'), new_resource_path

%table
  %thead.header
    %tr
      %th.name= t('project.name')
      %th.description= t('project.description')
      %th.start= t('project.start')
      %th.end= t('project.end')
      %th.actions= t('application.actions')
  %tbody.items.resources
    - collection.each do |resource|
      = render 'item', :resource => resource

