%h1.heading
  = "#{t 'project.model'} %s" % resource.id

- content_tag_for(:dl, resource) do
  %dt.label= t('project.name')
  %dd.name= h resource.try(:name)
  %dt.label= t('project.description')
  %dd.description= h resource.try(:description)
  %dt.label= t('project.start')
  %dd.start= h resource.try(:start)
  %dt.label= t('project.end')
  %dd.end= h resource.try(:end)

%p.actions
  = link_to t('application.edit'), edit_resource_path(resource)
  |
  = link_to t('application.index'), collection_path

