%h2 Sign in
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .field
    = f.input :email, :required => false

  .field
    = f.input :password, :as => :password, :required => false

  - if devise_mapping.rememberable?
    .remember_me
      = f.check_box :remember_me
      = f.label :remember_me

  .actions
    = f.submit "Sign in"

= render :partial => "devise/shared/links"

