- content_for :head do
  %meta{ 'http-equiv' => 'Refresh', :content => '300' }
  %style
    - @categories.each do |category|
      = '.' + category.to_class + '{background-color: #' + category.color + '}'

- content_for :javascript do
  = javascript_include_tag 'postit.js'

- unless my_projects.empty?
  %p
    My projects:
    = my_projects

%h1= "#{@project.name} Board"

%ul.legends
  %strong Legend:
  %li{:style => 'background-color: #ffffa5;'} None
  - @categories.each do |category|
    %li{:class => category.to_class}= category.name

.board
  .division
    %h3="To Do (#{@project.count_points(Board::POSITIONS['todo'])})"
    %ul#todo.droppable
      - (@project.tasks_by_position Board::POSITIONS['todo']).each do |task|
        = (to_postit task).html_safe
  .division
    %h3="Doing (#{@project.count_points(Board::POSITIONS['doing'])})"
    %ul#doing.droppable
      - (@project.tasks_by_position Board::POSITIONS['doing']).each do |task|
        = (to_postit task).html_safe
  .division
    %h3="Done (#{@project.count_points(Board::POSITIONS['done'])})"
    %ul#done.droppable
      - (@project.tasks_by_position Board::POSITIONS['done']).each do |task|
        = (to_postit task).html_safe

.board
  %h3 Backlog
  %ul#backlog.droppable
    - (@project.tasks_by_position Board::POSITIONS['backlog']).each do |task|
      = (to_postit task).html_safe

.score
  %h3 Scores
  %ul
    - @project.contributors_scores.each do |item|
      %li="#{item[:contributor].name} (#{item[:scores]})"

%br
= link_to 'Categories', project_categories_path
\|
= link_to 'New Task', new_project_task_path
\|
= link_to 'Clean up Done', clean_up_done_path, :confirm => 'Are you sure?'
