- content_for :meta do
  %meta{ 'http-equiv' => 'Refresh', :content => '300' }

%h1
  = @project.name
  Board

.board
  .division
    %h3 To Do
    - (@project.tasks_by_position Board::TODO).each do |task|
      = (to_postit task).html_safe
  .division
    %h3 Doing
    - (@project.tasks_by_position Board::DOING).each do |task|
      = (to_postit task).html_safe
  .division
    %h3 Done
    - (@project.tasks_by_position Board::DONE).each do |task|
      = (to_postit task).html_safe

.board
  %h3 Backlog
  - (@project.tasks_by_position Board::BACKLOG).each do |task|
    = (to_postit task).html_safe

%br
= link_to 'New Task', new_project_task_path
\|
= link_to 'Clean up Done', clean_up_done_path

