%h1
  = @project.name
  Board

%table.board
  %tr
    %th Backlog
    %th To Do
    %th Doing
    %th Done

    - while not @tasks.empty? do
      %tr
        %td
          = (postit Board::BACKLOG).html_safe
        %td
          = (postit Board::TODO).html_safe
        %td
          = (postit Board::DOING).html_safe
        %td
          = (postit Board::DONE).html_safe

%br
= link_to 'New Task', new_project_task_path

