= semantic_form_for [@project, @category] do |f|
  -if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  = javascript_include_tag 'jscolor/jscolor.js'
  .field
    = f.input :color, :input_html => { :class => 'color', :autocomplete => 'off' }
  .actions
    = f.submit 'Save'

