%h1= "Listing #{@project.name} categories"

%table
  %tr
    %th Name
    %th Color
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td{:style => "background-color:##{category.color}"}= category.color
      %td= link_to 'Show', project_category_path(@project, category)
      %td= link_to 'Edit', edit_project_category_path(@project, category)
      %td= link_to 'Destroy', project_category_path(@project, category), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Category', new_project_category_path

