<!DOCTYPE html>
<html>
  <head>
    <title>KanbanRoots</title>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <% if contributor_signed_in? %>
      Hello <%= link_to current_contributor.name,
                        contributor_path(current_contributor) %>.
      Not you? <%= link_to 'Sign out', destroy_contributor_session_path %>
    <% else %>
      <%= link_to 'Sign up', new_contributor_registration_path %> or
      <%= link_to 'Sign in', new_contributor_session_path %>
    <% end %>

    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <p><%= link_to 'Home', root_path %></p>

    <%= yield %>

    <%= javascript_include_tag :defaults %>
  </body>
</html>

