<!DOCTYPE html>
<html>
  <head>
    <title>Kanban-roots</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>

    <% if contributor_signed_in? %>
      Hello <%= link_to current_contributor.name,
                        contributor_path(current_contributor) %>.
      Not you? <%= link_to 'Sign out', destroy_contributor_session_path %>
    <% else %>
      <%= link_to 'Sign up', new_contributor_registration_path %> or
      <%= link_to 'Sign in', new_contributor_session_path %>
    <% end %>

    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <% if contributor_signed_in? %>
      <p>
        <%= link_to 'Dashboard', root_path %>
      </p>
    <% end %>

    <% if @project and @project.id %>
      <nav id="project_nav">
        <%= link_to 'Board', project_board_path(@project) %>
        <%= link_to 'New Task', new_project_task_path(@project) %>
        <%= link_to 'List Tasks', project_tasks_path(@project) %>
        <%= link_to 'Admin', edit_project_path(@project) %>
        <%= link_to 'Manage Categories', project_categories_path(@project) %>
        <%= link_to 'Clean up Done', clean_up_done_path(@project), :confirm => 'Are you sure?' %>
      </nav>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag :defaults %>
    <%= yield :javascript %>
  </body>
</html>

